{% load static %}

<!DOCTYPE html>
<html>
    <body>
        <header class ="header">    
            <div class="logo">
                <img src = "{% static '/imgs/logo.png' %}" width="50">
            </div>
            
            <nav> 
                <ul class="nav-links">
                    <li><a href = "/website">Inicio</a></li>
                    <li><a href = "/website/herramientas">Herramientas</a></li>
                    <li><a href = "/website/nosotros">Nosotros</a></li>
                </ul>
            </nav>

            <a class ="btn" href="/website/traductor"><button> Traductor SLD</button></a>
            
            <a class ="btn" href="/sign-out"><button> Cerrar sesion</button></a>

            <a onclick="openNav()" class="menu"><button>Menú</button></a>
        

            <div class = "overlay" id ="mobile-menu">
                <a onclick="closeNav()" href="" class="close">&times;</a>
                <div class="overlay-content">
                    <a href = "/website">Inicio</a>
                    <a href = "/website/herramientas">Herramientas</a>
                    <a href = "/website/nosotros">Nosotros</a>
                    <a href = "website//traductor">Traductor-SLD</a>
                </div>
            </div>
       
        </header>
        
        <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
    </body>
</html>

{% block content %}

{% endblock %}

