{% extends 'layouts/menu.html' %}
{% load static %}

        <!------------SECCION 1-------------------------->

{% block content %}

<html>
    <body>  
        <head>
            <title>Herramientas</title>
            <link rel="stylesheet" href ="{% static '/styles/herramientas.css' %}"/>
        </head>   
        <section class = "herramientas" id="Herramientas">
            <div class ="heading">
                <span><br>Nuestras herramientas</span>
                <h2>Algunas herramientas que podrían interesarte </h2>
            </div>
            
            <div class="herramientas-container">
                <div class = "h-box">
                    <div class ="box-img.">
                        <img src ="{% static 'imgs/Herramientas-1.png' %}">
                    </div>
                    <h3>Aprende sobre la lengua de señas</h3>
                    <p>La lengua de señas es un sistema de comunicación gestual utilizado por personas sordas o con problemas de audición para
                        expresar y recibir información. Se basa en movimientos de manos, expresiones faciales y corporales para transmitir significados,
                        gramática y emociones. Cada país puede tener su propio sistema de lengua de señas, con vocabulario y estructuras gramaticales específicas.</p>
                </div>

                <div class = "h-box">
                    <div class ="box-img.">
                        <img src ="{% static 'imgs/Herramientas-2.png' %}">
                    </div>
                    <h3>Sobre nuestro traductor SDL</h3>
                    <p>Es una herramienta desarrollada para ayudar a las personas a comunicarse
                        de forma sencilla, basada en el abecedario ASL que traduce letra por letra en timpo real.</p>
                </div>  
            </div>          
        </section>
        <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
    </body>
</html>

{% endblock %}