{% extends 'layouts/menu.html' %}
{% load static %} 

{% block content %}
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{% static '/styles/index-2.css' %}"/>
    <title>Home</title>
</head>

    <!--Seccion-->
    
    <section class ="banner" id ="banner">
        <div class= "content-banner">
            <h1>Signal<br>Language<br>Detector</h1>
            <h2>Empieza a traducir ahora<br> mismo  fácil y rápido </h2><br>
            <a href = "/website/traductor" class = "btn1" >¡Comienza!</a>
        </div>
        <div class = "inicio-img">
            <img src ="{% static 'imgs/imagenInicio.png' %}">
        </div>
        
    </section>
    <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
</body>
</html>

{% endblock %}