<!DOCTYPE html>
<html>
    <head>
        <title>Nosotros</title>
        <link rel="stylesheet" href ="../static/styles/nosotros.css"/>
    </head>
    <body>
        <header class ="header">
            <div class="logo">
                <img src = "IMGS/Logo.png" width="50">
            </div>
            
            <nav> 
                <ul class="nav-links">
                    <li><a href = "index.html">Inicio</a></li>
                    <li><a href = "herramientas.html">Herramientas</a></li>
                    <li><a href = "nosotros.html">Nosotros</a></li>
                </ul>
            </nav>
            <a class ="btn" href="Traductor-SLD.html"><button> Traductor SLD</button></a>
            
            <a onclick="openNav()" class="menu" href="#"><button>Menú</button></a>
        
            <div class = "overlay" id ="mobile-menu">
                <a onclick="closeNav()" href="" class="close">&times;</a>
                <div class="overlay-content">
                    <a href = "index.html">Inicio</a>
                    <a href = "herramientas.html">Herramientas</a>
                    <a href = "nosotros.html">Nosotros</a>
                    <a href = "Traductor-SLD.html">Traductor-SLD</a>
                </div>
            </div>
       
        </header>
        
        <script type="text/javascript" src="nav.js"></script>

        <!--Seccion 1-->

        <section class="nosotros" id="nosotros">
            <H2 class = "heading"><span>Sobre nosotros</span></H2>
            <div class = "row">
                <div class = "img-container">
                    <img src="IMGS/Nosotros.1.png">
                </div>
                
                <div class = "contenido">
                    <h3>¿Quiénes somos?</h3>
                    <p>Somos un apasionado grupo de estudiantes de ingeniería de sistemas comprometidos con la 
                        inclusión y la accesibilidad. Nuestra dedicación nos ha llevado 
                        a crear este traductor de lenguaje de señas a texto, con el objetivo de 
                        derribar barreras comunicativas y facilitar la interacción entre personas 
                        sordas y oyentes.</p>
                </div>
            </div>

        </section>

        <section class = "proposito" id = "proposito">
            <div class ="row2">
                <div class="contenido"> 
                    <h3>Nuestro propósito</h3>
                    <p>Enfrentamos el desafío de mejorar la comunicación inclusiva para todos. 
                        Nuestro propósito es proporcionar una herramienta intuitiva y eficiente 
                        que permita a las personas sordas expresarse libremente y a aquellos que 
                        no conocen el lenguaje de señas comprender y participar activamente en 
                        la conversación.</p>
                </div>
                <div class = "img-container" >
                    <img src="IMGS/Nosotros.2.jpg">
                </div>
            </div>
        </section>

        <section class = "why" id = "proposito">
            <div class="contenido"> 
                <h3>¿Por qué elegir SLD?</h3>
                <p>Nuestro traductor destaca por su precisión, facilidad de uso y compromiso 
                    con la comunidad sorda. Utilizamos tecnología de vanguardia y nos esforzamos 
                    por mejorar continuamente nuestro servicio en base a retroalimentación y 
                    necesidades reales. Al elegir nuestro traductor, estás optando por una 
                    herramienta que promueve la inclusión y la igualdad de oportunidades para 
                    todos.</p>
            </div>
                
        </section>
    
    </body>
</html>