{% extends 'layouts/menu.html' %}
{% load static %}


{% block content %}

<html>
    <body>
        <!--Seccion 1-->
        <head>
            <title>Nosotros</title>
            <link rel="stylesheet" href ="{% static '/styles/nosotros.css' %}"/>
        </head>

        <section class="nosotros" id="nosotros">
            <H2 class = "heading"><span>Sobre nosotros</span></H2>
            <div class = "row">
                <div class = "img-container">
                    <img src="{% static 'imgs/Nosotros.1.png' %}">
                </div>
                
                <div class = "contenido">
                    <h3>¿Quiénes somos?</h3>
                    <p>Somos un apasionado grupo de estudiantes de ingeniería de sistemas comprometidos con la 
                        inclusión y la accesibilidad. Nuestra dedicación nos ha llevado 
                        a crear este traductor de lenguaje de señas a texto, con el objetivo de 
                        derribar barreras comunicativas y facilitar la interacción entre personas 
                        sordas y oyentes.</p>
                </div>
            </div>

        </section>

        <section class = "proposito" id = "proposito">
            <div class ="row2">
                <div class="contenido"> 
                    <h3>Nuestro propósito</h3>
                    <p>Enfrentamos el desafío de mejorar la comunicación inclusiva para todos. 
                        Nuestro propósito es proporcionar una herramienta intuitiva y eficiente 
                        que permita a las personas sordas expresarse libremente y a aquellos que 
                        no conocen el lenguaje de señas comprender y participar activamente en 
                        la conversación.</p>
                </div>
                <div class = "img-container" >
                    <img src="{% static 'imgs/Nosotros.2.jpg' %}">
                </div>
            </div>
        </section>

        <section class = "why" id = "proposito">
            <div class="contenido"> 
                <h3>¿Por qué elegir SLD?</h3>
                <p>Nuestro traductor se destaca por su precisión, facilidad de uso y compromiso 
                    con la comunidad sorda. Utilizamos tecnología de vanguardia y nos esforzamos 
                    por mejorar continuamente nuestro servicio en base a retroalimentación y 
                    necesidades reales. Al elegir nuestro traductor, estás optando por una 
                    herramienta que promueve la inclusión y la igualdad de oportunidades para 
                    todos.</p>
            </div>
                
        </section>
        <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
    </body>
</html>

{% endblock %}