{% extends 'layouts/menu.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Traductor SLD</title>
        <link rel="stylesheet" href ="{% static '/styles/traductor.css' %}"/>
    </head>
        
        <!--Pagina-->
        
    <section class ="camara">
        <div class ="izquierda">
            <h3>Cámara</h3>
                <video id="video_camara" playsinline autoplay style ="width: 1px;"></video>
                <button class="btn btn-primary mb-2" id="cambiar-camara" onclick="cambiarCamara();">Cambiar camara</button>
                <canvas id="canva_camara" width ="400" height="400" style="max-width: 100%;"></canvas>
                <canvas id="canva_camara_pequenia" width ="28" height="28" style="display: none"></canvas>
                <button class="btn btn-success" id="predecir" onclick="predecir()">Predecir</button>
        </div>

        <div class = "derecha">
            
            {% if messages %}
                {% for message in messages %}
                    <p class="send">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}

            <h3>¿Desea agregar esta letra?</h3>
            <div class="letter_box">
                <h2 id="resultado"></h2>
            </div>
            <div class="center">
                <div class="btnBox">
                    <button class= "botones" > Agregar </button>
                    <button class= "botones" > Espacio </button>
                    <button class= "botones" > Borrar </button>
                    <button class= "botones" > Borrar todo </button>
                </div>
            </div>
            
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class= "botones send_btn" > Enviar </button>
            </form>
            
            </br>

            <p class="err">
                {{ error }}
            </p>
            <p class="modelo-text">¿Deseas probar otro modelo? <a href="/traductor-inteligencia" id="modelo-boton">Haz click aquí</a></p>

        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
        <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/cam.js' %}"></script>
    </section>
</body>
</html>

{% endblock %}