{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Traductor SLD</title>
        <link rel="stylesheet" href ="{% static '/styles/traductor.css' %}"/>
    </head>
    <body>
        <header class ="header">
            <div class="logo">
                <img src = "{% static '/imgs/Logo.png' %}" width="50">
            </div>
            
            <nav> 
                <ul class="nav-links">
                    <li><a href = "index.html">Inicio</a></li>
                    <li><a href = "herramientas.html">Herramientas</a></li>
                    <li><a href = "nosotros.html">Nosotros</a></li>
                </ul>
            </nav>
            <a class ="btn" href="Traductor-SLD.html"><button> Traductor SLD</button></a>
            
            <a onclick="openNav()" class="menu" href="#"><button>Menú</button></a>
        
            <div class = "overlay" id ="mobile-menu">
                <a onclick="closeNav()" href="" class="close">&times;</a>
                <div class="overlay-content">
                    <a href = "index.html">Inicio</a>
                    <a href = "herramientas.html">Herramientas</a>
                    <a href = "nosotros.html">Nosotros</a>
                    <a href = "Traductor-SLD.html">Traductor-SLD</a>
                </div>
            </div>
       
        </header>
        
        <!--Pagina-->
        
        <section class ="camara">
            <div class ="izquierda">
                <h3>Cámara</h3>

            </div>

            <div class = "derecha">
                <h3>¿Desea agregar esta letra?</h3>
                <a href = "#" class = "btnLetra" >J</a><br>
                <textarea readonly = "">Texto...</textarea><br>
                <button id="Agregar">Agregar</button>
                <a href = "" class =botones id = "agregar" ></a>
                <a href = "" class =botones >Espacio</a><br>
                <a href = "" class =botones >Borrar</a>
                <a href = "" class =botones >Borrar todo</a>
                </br>
            </div>
            
            <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
            <script type="text/javascript" src="{% static '/js/cam.js' %}"></script>
    </body>
</html>