{% extends 'layouts/menu.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Traductor SLD</title>
        <link rel="stylesheet" href ="{% static '/styles/traductor.css' %}"/>
    </head>
        
        <!--Pagina-->
        
    <section class ="camara">
        <div class ="izquierda">
            <h3>Cámara</h3>

        </div>

        <div class = "derecha">

            <h3>¿Desea agregar esta letra?</h3>
            <button class = "btnLetra" >J</button>
            <button class = "btnLetra" >Z</button><br>
            <textarea readonly = ""></textarea><br>
            <button class= "botones" > Agregar </button>
            <button class= "botones" > Espacio </button>
            <button class= "botones" > Borrar </button><br>
            <button class= "botones" > Borrar todo </button>
            <button class= "botones" > Enviar </button>
            </br>

            <p class="modelo-text">¿Deseas probar otro modelo? <a href="/traductor" id="modelo-boton">Haz click aquí</a></p>

        </div>
        
        <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/cam.js' %}"></script>
    </section>
</body>
</html>

{% endblock %}