{% extends 'layouts/menu.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
    <head>
        <title>Traductor SLD</title>
        <link rel="stylesheet" href ="{% static '/styles/traductor.css' %}"/>
    </head>
        
        <!--Pagina-->
        
    <section class ="camara">
        <div class ="izquierda">
        </div>

        <div class = "derecha">
            
            {% if messages %}
                {% for message in messages %}
                    <p class="send">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}

            <h3>¿Desea agregar esta letra?</h3>
            <div class="letter_box">
                <h2 id="letter">J</h2>
            </div>
            <div class="center">
                <div class="btnBox">
                    <button class= "botones" > Agregar </button>
                    <button class= "botones" > Espacio </button>
                    <button class= "botones" > Borrar </button>
                    <button class= "botones" > Borrar todo </button>
                </div>
            </div>
            
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class= "botones send_btn" > Enviar </button>
            </form>
            
            </br>

            <p class="err">
                {{ error }}
            </p>
            <p class="modelo-text">¿Deseas probar otro modelo? <a href="/traductor-inteligencia" id="modelo-boton">Haz click aquí</a></p>

        </div>
        
        <script type="text/javascript" src="{% static '/js/nav.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/cam.js' %}"></script>
    </section>
</body>
</html>

{% endblock %}