.abc {
    padding: 0 5%;
    display: grid;
    grid-template-columns:repeat(6,1fr);
    align-content:space-around; 
}

.abc > button{
    padding: 20% 0;
    margin: 10%;
}

.full_vid_box {
    margin: auto;
}
.mini-pic-div{
    width: 80%;
    margin: auto;
    display: flex;
}
.mini-pic-div > #mini_vid{
    margin-right: 40px;
}